*{
    margin: 0px;
}

.padre{
    background-color: red;
    padding: 50px;
    width: 500px;
    height: 500px;
    border: 10px;
    border-radius: 500px;
    
}
.nivel1{
    margin-left: 100px;
    background-color: yellow;
    padding: 20px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.nivel2{
    background-color: green;
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 100%;
}
.nivel3{
    background-color: rgb(156, 117, 255);
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 100%;
}
.nivel4{
    background-color: rgb(206, 31, 125);
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 100%;
}
.nivel5{
    background-color:maroon;
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 100%;
}
.nivel6{
    background-color: aquamarine;
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 100%;
}